
.menu-cadastros ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .menu-cadastros ul li {
    margin-bottom: 10px; 
  }
  
  .menu-cadastros ul li a {
    text-decoration: none; 
    color: #007BFF; 
  }
  
  .menu-cadastros ul li a:hover {
    text-decoration: underline; 
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
